/* Setting up color vars */
 
.wrap-zira .container-half-content {
    --main-color: #00AE7C;
    --bg-color: #fff;
    color: var(--main-color);
}

.wrap-svt .container-half-content {
    --main-color: #fff;
    --bg-color: #00AE7C;
    color: var(--main-color);
}

.inline-link {
    color:#fff;
    text-decoration:none;
    font-weight:700;
    border-bottom:2px solid #fff;
}
em {
    font-family: 'Libre Baskerville', serif;
}
/* floating labels */

.text-floating-svt {
    transform: rotate(-90deg);

    font-family: 'Miriam Libre', sans-serif;
    font-weight:700;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 3.64px;
    line-height: 29px;   
    position:absolute; 
    top:calc(50% - 30px);
    transition:all 1s ease;
    opacity:1;
pointer-events:none;    
    }


.text-floating-zir {
    transform: rotate(-90deg);
    font-family: 'Miriam Libre', sans-serif;
    font-weight:700;
    font-size: 14px;
    color:var(--main-color);
    letter-spacing: 3.64px;
    line-height: 29px;  
    position:absolute; 
    top:calc(50% - 30px);
    transition:all 1s ease;
    opacity:1;
pointer-events:none;    

    }


    .focus-svt .text-floating-zir {
        left:calc(100% - var(--left-space));
        }
        .focus-svt .text-floating-svt {
            left:calc(100% - var(--left-space) - 60px);
            }


            .focus-zira .text-floating-zir {
                left:calc(var(--left-space));
                }
                .focus-zira .text-floating-svt {
                    left:calc(var(--left-space) - 60px);
                    }


            .focus-start .text-floating-zir{
                left:50%;
                opacity:0;
                }
                .focus-start .text-floating-svt{
                    left:50%;
                opacity:0;
                
                    }

        
    

/* intro text */

.svt-section-calender,
.zir-section-calender {
    margin-bottom: 100px;
    border-bottom: var(--line-width) solid var(--main-color);
}

.svt-section-text,
.zi-section-text {
    direction: ltr;
}

.intro-text-title .close-kerning {
    letter-spacing: -2px;
}

.intro-text-title {
    font-family: 'Nitti', sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 41px;
    word-spacing: -7px;
    letter-spacing: normal;


}

.intro-text-subtitle {
    font-family: 'Nitti', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 2px;
    margin-bottom: 54px;
    margin-top: 6px;
}


.intro-text-subtitle-2 {
    font-family: 'Nitti', 'zvi', serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.7px;
    word-spacing: -7px;
    margin:55px 0 30px 0;
}

.intro-text-pre {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.3px;
    margin-bottom: 29px;
}

.intro-text-body {
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-family: 'Libre Baskerville', serif;
    
    
    font-size: 18px;
    max-width: 760px;
    line-height: 29px;
    letter-spacing: normal;
    margin-bottom: 120px;
}
.intro-text-body-sub2 {
    font-size:24px;
    line-height:34px;
    letter-spacing:0.3px;
    margin-bottom:24px;
    display:block;
}
.intro-text-body b {
    font-weight: 400;
    font-style:italic;
    letter-spacing: 1px;
}


/* intro Zira */

.zi-text-title {
    font-family: 'Hadassah';
    font-weight: 700;
    font-size: 41px;
    line-height: 39px;
    letter-spacing: 3px;
}

.zi-text-subtitle {
    font-family: 'Hadassah';
    font-weight: 700;
    font-size: 27px;
    line-height: 54px;
    letter-spacing: 3px;
    margin-bottom: 54px;
}

.zi-text-pre {
    font-family: 'Libre Baskerville', serif;
    font-style:italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: normal;
}

.zi-text-body {
    font-family: 'Libre Baskerville', serif;
    
    font-size: 18px;
    max-width: 760px;
    line-height: 29px;
    letter-spacing:normal;
    margin-bottom: 120px;
}


.wrap-zira strong {
    font-weight:700;
}
.wrap-zira  p ,.wrap-svt  p {
margin:0px;
}


/* Calander */


/* tickets CTA  */

a.cal-ticket-cta {
    width: 104px;
    transform: rotate(-30deg);
    position: relative;
    top: -65px;
    left: -40px;
    display:inline-block;
    
}

.svt-cal-item-content__buttons a.cal-ticket-cta {
    width: 104px;
    transform: rotate(-30deg);
    position: static;
    top: auto;
    left: auto;
    margin-bottom:34px;
    /* display: */
    
}


a.cal-ticket-cta img {
   width:100%;
}

a.cal-ticket-cta:hover  {
    background-image:url('../images/en_tickets_cta_white--hover.svg');
    background-size:cover;
}

.wrap-zira  a.cal-ticket-cta:hover  {
    background-image:url('../images/en_tickets_cta_green--hover.svg');
    background-size:cover;
}


a.cal-ticket-cta:hover img {
    opacity:0;
}



.cal-complex-item .svt-cal-item-content__desc-text a.cal-ticket-cta{
    position: static;
    top: 0px;
    left: 0px;
}


/* Titles */
.svt-cal-item-title {
    display: flex;
    cursor: pointer;
    direction: ltr;
    justify-content: space-between;
    align-items: center;
    /* background: lime; */
    border-top: var(--line-width) solid var(--main-color);
    min-height: 80px;
}

.zir-cal-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: lime; */
    border-top: var(--line-width) solid var(--main-color);
    min-height: 80px;
    direction: ltr;
    cursor: pointer;
}

.svt-cal-item-title__name,
.svt-cal-item-title__right,
.svt-cal-item-title__left,
.svt-cal-item-content,
.zir-cal-item-title__name,
.zir-cal-item-title__right,
.zir-cal-item-title__left,
.zir-cal-item-content {
    display: flex;
    direction: ltr;
}

.svt-cal-item-content,
.zir-cal-item-content {
    margin-bottom: 0px;
}

.svt-cal-item-title__left,
.zir-cal-item-title__left {
    flex-direction: column;
    min-width: 240px;
}

.svt-cal-item-title__right {
    align-items: center;
    flex-grow: 1;
}


/* day header accordion */


.svt-cal-day-header_arrow {
    /* background:lawngreen; */
    display: inline-block;
    text-align: left;
    padding-top: 0px;
    margin-bottom: 30px;
}

.zira-cal-day-header_arrow {
    /* background:lawngreen; */
    display: inline-block;
    text-align: left;
    padding-top: 30px;
    margin-bottom: 30px;
}

.zir-cal-day-header .svt-cal-item-title__accordion__arr,
.zir-cal-day-header .zir-cal-item-title__accordion__arr {
    transition: all 0.3s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.zir-cal-day-header.svt-zippy--open .svt-cal-item-title__accordion__arr,
.zir-cal-day-header.svt-zippy--open .zir-cal-item-title__accordion__arr {
    transform: rotate(0deg);
}


/* accordion icon */

.svt-cal-item-title__accordion,
.zir-cal-item-title__accordion {
    width: 40px;
    display: flex;
}

.svt-cal-item-title__accordion__arr,
.zir-cal-item-title__accordion__arr {
    transition: all 0.3s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    /* position: relative; */
    /* top: 12px; */
}

.svt-cal-item-title__accordion__arr {
    top: 0px;
}

.svt-zippy--open .svt-cal-item-title__accordion__arr,
.svt-zippy--open .zir-cal-item-title__accordion__arr {
    transform: rotate(0deg);
}


/* content */

.svt-cal-item-content,
.zir-cal-item-content {
    direction: ltr;
}

.svt-cal-item-content-wrap,
.zir-cal-item-content-wrap {
    display: none;
}

.svt-cal-item-content__image,
.zir-cal-item-content__image {
    width: 50%;
    padding: 0 40px;
    /* position: relative; */
}


.svt-cal-item-content__buttons,
.zir-cal-item-content__buttons {
    width: 130px;
    padding: 0 0;
    /* position: relative; */
}

.svt-cal-item-content__image img,
.zir-cal-item-content__image img {
    width: 100%;
}


/* svt day haeder */

.svt-cal-day-header {
    text-align: center;
    padding: 36px 0 0 0;
    border-top: var(--line-width) solid var(--main-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.zir-cal-items-wrap,
.svt-cal-items-wrap {
    display: none;
}

.svt-cal-day-header__day-name {
    direction: ltr;
    line-height: 41px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2.2px;
    font-weight: 700;
    word-spacing: -12px;
    font-family: 'Nitti', 'zvi', sans-serif;
}

.svt-cal-day-header__day-name .close-kerning {
    letter-spacing: -4px;
}

.svt-cal-day-header__day-title {
    line-height: 34px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1.6px;
    word-spacing: -10px;
    font-family: 'Nitti', 'zvi', sans-serif;
}

.svt-cal-day-header__day-title-2 {
    line-height: 32px;
    text-align: center;
    font-size: 13px;
    font-weight:700;
    letter-spacing: 2px;
    font-family: 'Miriam Libre', sans-serif;

    margin-top: 20px;
    
}


/* svt cal items */

.svt-cal-item-title__name {
    /* max-width: 300px; */
    flex-wrap: wrap;
    margin: 8px 0;
    flex-flow: column;
}

.zir-cal-item-title__name {
    /* max-width: 300px; */
    flex-wrap: wrap;
    margin: 8px 0;
    flex-flow: column;
}

.svt-cal-item-title__name__by {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-family: 'Frank Ruhl Libre', serif;
    
    padding: 0 8px;
    display: none;
    /* top: -4px; */
    /* position: relative; */
}

.svt-cal-item-title__name__name,
.svt-cal-item-title__name__author {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
    word-spacing: -5px;
    font-family: 'Nitti', sans-serif;
    max-width: 450px;
}

.svt-cal-item-title__time,
.svt-cal-item-title__location {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 13px;
    
    line-height: 20px;
    letter-spacing: .9px;
}

.svt-cal-item-title__name__author {
    font-size: 14px;
    letter-spacing: 1.6px;
    margin-top: 3px;
}

.svt-cal-item-content__desc {
    width: 50%;
    margin-bottom:60px;
}

.svt-cal-item-content__desc-text {
    font-family: 'Libre Baskerville', serif;    
    margin-bottom: 35px;
font-size: 15px;
letter-spacing: normal;
line-height: 24px;

}

.svt-cal-item-content__desc-credits-bold {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 13px;
    letter-spacing: 0.55px;
    font-weight: 700;
    line-height: 23px;
}

.svt-cal-item-content__desc-credits-light {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 13px;
    letter-spacing: 0.55px;
    line-height: 23px;
}

/* zira days titles */

.zir-cal-day-header {
    text-align: center;
    padding: 60px 0 0 0;
    border-top: var(--line-width) solid var(--main-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.zir-cal-day-header__day-name {
    font-size: 80px;
    letter-spacing: 1.9px;
    line-height: 60px;
    font-family: 'fakir';
}

.zir-cal-day-header__day-title {
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 2.2px;
    font-family: 'Hadassah';
    font-weight: 700;
    margin-bottom:20px;
}


/* zira item titles */

.zir-cal-item-title__name__by {
    font-size: 14px;
    line-height: 28px;
    position: relative;
    top: 2px;
    letter-spacing: 0.8px;
    font-family: 'Frank Ruhl Libre', serif;
    
    padding: 0 8px;
    display: none;
}

.zir-cal-item-title__name__name,
.zir-cal-item-title__name__author {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.8px;
    font-family: 'Hadassah';
    font-weight: 700;
}

.zir-cal-item-title__name__author {
    font-size: 14px;
    letter-spacing: 1.6px;
    margin-top: 3px;
    font-weight: 700;
}

.zir-cal-item-title__time,
.zir-cal-item-title__location {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .9px;
}

.zir-cal-item-content__desc {
    width: 50%;
    margin-bottom:60px;
    
}


.zir-cal-item-content__desc-text {
    font-size: 15px;
    letter-spacing: normal;
    line-height: 24px;
    font-family: 'Libre Baskerville', serif;
    
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-weight: 400;
    margin-bottom: 35px;
}

.zir-cal-item-content__desc-credits-bold {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 13px;
    letter-spacing: 0.55px;
    font-weight: 700;
    line-height: 20px;
}

.zir-cal-item-content__desc-credits-light {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 13px;
    
    letter-spacing: 0.55px;
    line-height: 20px;
}


/* complex items */

.cal-complex-item .svt-cal-item-content__desc-text {
    margin-left: 0px;
}


.cal-complex-item .svt-cal-item-content-wrap .no-margin .svt-cal-item-content__desc-text {
    margin-right: 0px;
}

.cal-complex-item .svt-cal-item-content-wrap .svt-cal-item-title__name {
    margin-left: 130px;
    margin-bottom: 26px;
    /* background:lime; */
}

.cal-complex-item .svt-cal-item-content {
    margin-bottom: 40px;
}

.cal-complex-item .svt-cal-item-content-wrap .svt-cal-item-content__image {
    margin-right: 30px;
    margin-left: 130px;
    max-width: 480px;
    padding: 0;
}

.cal-ticket {
    margin-top: 20px;
}

.cal-ticket-cta--mobile {
    display: inline-block;
    font-family: 'Miriam Libre', sans-serif;
    line-height: 20px;
    font-size: 14px;
    padding: 10px 16px;
    font-weight: 700;
    border: var(--line-width) solid var(--main-color);
    color: var(--main-color);
    text-decoration: none;
}

.cal-ticket-cta--mobile:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
}
  


/* Mobile */

@media (max-width: 930px) {
    .cal-complex-item .svt-cal-item-content-wrap .svt-cal-item-title__name {
        margin-right: 40px;
    }
    .cal-complex-item .svt-cal-item-content-wrap .svt-cal-item-content__image {
        margin-right: 40px;
    }
}

@media (max-width: 800px) {

    .intro-text-body-sub2 {
        font-size:14px;
        line-height:24px;
        letter-spacing:0px;
    }


    .intro-text-subtitle-2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0;
    
        /* margin:55px 0 30px 0; */
    }

    .focus-svt .text-floating-zir {
        left: calc(100% - var(--left-space) - 20px);
        }

        .focus-zira .text-floating-svt {
        /* left: calc(100% - var(--left-space) - 12px); */
        left: calc(var(--left-space) - 35px);
            }


        .focus-svt .text-floating-svt,
        .focus-zira .text-floating-zir {
            opacity:0;
            }

       
/* .text-floating-zir,
.text-floating-svt {
    display:none;
} */

    .cal-complex-item .svt-cal-item-content-wrap .svt-cal-item-title__name {
        margin-left: 16px;
    }
    .cal-complex-item .svt-cal-item-content-wrap .svt-cal-item-content__image {
        margin-left: 0px;
    }

    .center-col {
        max-width:100%;
        min-width: 100%;
    }
    .center-col-inner {
        margin: 0 0px;
    }


    .svt-section-text,
    .zi-section-text {
        padding:0 16px;
    }


   
    /* Into texts*/
    .intro-text-title {
        font-size: 35px;
        line-height: 29px;
        letter-spacing: 2px;
    }
    .intro-text-subtitle {
        font-size: 20px;
        line-height: 21px;
        letter-spacing: 4px;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .intro-text-body {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .zi-text-title {
        font-size: 35px;
        line-height: 29px;
        letter-spacing: 2px;
    }
    .zi-text-subtitle {
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        margin-top: 8px;
    }
    .zi-text-pre {
        
        font-size: 15px;
        line-height: 21px;
        letter-spacing: normal;
    }
    .zi-text-body {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: normal;
    }
    /* Day titles */
    .zira-cal-day-header_arrow,
    .svt-cal-day-header_arrow {
        display: none;
        text-align: right;
        padding-top: 0px;
    }
    .svt-cal-day-header {
        padding: 30px 0 0 0;
    }
    .svt-cal-day-header__day-name {
        word-spacing: 1px;
    }
    .svt-cal-day-header__day-name {
        word-spacing: 1px;
    }
    .svt-cal-day-header--mobile-part1 {
        font-size: 45px;
        line-height: 45px;
        font-family: 'Nitti', serif;
    }
    .svt-cal-day-header--mobile-part2 {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: .5px;
        font-family: 'Nitti', serif;   
        
        font-weight: 700;
        margin-top: 8px;
    }
    .svt-cal-day-header--mobile-part3 {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.5px;
        margin-top: 20px;
        font-family: 'Nitti', serif;   
        
        
    }

    .svt-cal-day-header--mobile-part4 {
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 1.5px;
        font-family: 'Miriam Libre', sans-serif;    
        font-weight:400;    
        /* margin-top: 20px; */
        
    }
    .svt-cal-day-header__day-title {
        font-size: 15px;
        line-height: 20px;
        word-spacing: -4px;
    }
  
    .cal-ticket-cta {
        display: none;
    }
    .cal-ticket-cta--mobile {
        display: inline-block;
        font-family: 'Miriam Libre', sans-serif;
        line-height: 20px;
        font-size: 14px;
        padding: 10px 16px;
        font-weight: 700;
        border: var(--line-width) solid var(--main-color);
        color: var(--main-color);
        text-decoration: none;
    }
    .cal-ticket-cta--mobile:hover {
        color: var(--bg-color);
        background-color: var(--main-color);
    }
    .svt-cal-item-content__desc-text {
        margin-top: 35px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: normal;
    }
    .zir-cal-item-content__desc-text {
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: normal;
        /* font-weight: 500; */
        margin-bottom: 35px;
    }

    .cal-complex-item .svt-cal-item-content__desc-text {
        margin: 16px 0 0 0;
    }

    

    .svt-cal-item-title__accordion, .zir-cal-item-title__accordion 
    {
    position: relative;
    top: -11px;
    
    }
    /* Items flexbox */
    .zir-cal-item-title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: right;
        padding: 7px 0 12px 0;
    }

    .svt-cal-item-title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: right;
        padding: 12px 0 12px 0;
    }

    .zir-cal-day-header__day-title {
        font-size: 20px;
        line-height: 26px;
        margin-top: 10px;
        /* font-weight:400; */
    }
    .svt-cal-item-content,
    .zir-cal-item-content {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .svt-cal-item-title__name {
        margin: 0px;
    }
    .svt-cal-item-title__left:before {
        content: "***";
        font-family: 'Miriam Libre', sans-serif;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.3px;
        padding-top: 6px;
    }
    .zir-cal-item-title__left:before {
        content: "***";
        font-family: 'Miriam Libre', sans-serif;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.3px;
        /* padding-top: 6px; */
    }
    .svt-cal-item-title__name__name,
    .svt-cal-item-title__name__author {
        line-height: 22px;
    }
    .svt-cal-item-title__name__author {
        font-size: 15px;
        line-height: 21px;
        letter-spacing: normal;
    }
    /* images */
    .svt-cal-item-content__image,
    .zir-cal-item-content__image {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .zir-cal-item-content__desc,
    .svt-cal-item-content__desc {
        width: 100%;
        margin-bottom:20px;

    }
    .svt-cal-item-title__right,
    .zir-cal-item-title__right {
        align-items: center;
        flex-grow: 1;
        direction: rtl;
        justify-content: space-between;
        width: 100%;
        min-height:45px;
        
    }



    /* adding padding to some elements
     */


     .svt-cal-day-header, .svt-cal-item-title, .svt-cal-item-content__desc,  .zir-cal-day-header, .zir-cal-item-title, .zir-cal-item-content__desc {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
        box-sizing: border-box;
    }
    .zir-cal-day-header {
        padding-bottom: 60px;
    }
    .svt-cal-day-header {
        padding-bottom: 40px;
        
    }


    /* Mobile CTA */

    a.cal-ticket-cta {
        display: none;
    }
    
}