.after-section {
    padding:60px 0;
    background:#CBEFE5;
}


.after-map-divider {
    max-width:1180px;
    background:var(--main-color);
    height:2px;
    margin:20px 0;
    box-sizing:border-box;
    }

.after-images-title {
    text-align:center;
    padding:55px 0;
    /* border-top: 2px solid var(--main-color); */
    /* border-bottom: 2px solid var(--main-color); */
    color:var(--main-color);
    margin-bottom:50px;
}
.after-images-title_subtitle {
    font-size:22px;
    font-weight:400;
    line-height:20px;
    letter-spacing:0.8px;
    font-family: 'Frank Ruhl Libre', serif;
    
}

.after-images-title_main {
    font-size:41px;
    font-weight:500;
    line-height:48px;
    letter-spacing:1.6px;
    font-family: 'Frank Ruhl Libre', serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
.after-images-title_main img {
padding:0 6px;
}
.after-images-item img {
    width:100%;
    mix-blend-mode:screen;
    
}


.after-images-container {
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    font-size: 0; 
    justify-content:space-between; */


    /* TODO: this does not work in safari */
    /* -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
    column-count: 3;
    margin-bottom:40px; */


    /* height:1500px; */
}


.no-transition.after-images-item, .no-transition.after-images-item img {
    transition:none;
}

.after-images-item, .after-images-item img {
    transition:all .8s ease;
    
}


.after-images-container .after-images-item  { 
    width:calc((100% / 3) - 15px);    
    /* width:100%; */
    background:#000;
    margin-bottom:20px;    
    /* mix-blend-mode:lighten; */
}
.after-images-container:hover .after-images-item {
    
    background:var(--main-color);
  }
  .after-images-container:hover .after-images-item img{
    
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
  }
.after-images-container:hover .after-images-item:hover {
    opacity: 1;
    background:#000;
    /* mix-blend-mode:normal; */
}

.after-images-container:hover .after-images-item:hover img{
    
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
      /* mix-blend-mode:normal; */
  }



  /* Tooltips */


.after-images-item .tooltip {
    direction:rtl;
    position: absolute; 
    color:var(--main-color);
    width: 340px;
    padding:30px;
    z-index: 9999;
    font-size:12px;
    line-height:18px;
    letter-spacing:0.3px;
    font-family: 'Miriam Libre', sans-serif;    
    background: #FFFFFF;
    box-shadow: -5px 5px 6px 0 rgba(0,174,124,0.20);
    display: none; 

}

.after-images-item .tooltip .title {
font-size:20px;
letter-spacing:1px;
line-height:26px;
font-weight:500;
font-family: 'Frank Ruhl Libre', serif;
margin-bottom:26px;
}

.after-images-item .tooltip .tooltip-content img {
    display:none;

    }

/* map */
.after-map-container {
    /* background:url('../images/map-heb.svg'); */
    /* background-size:cover;     */
    /* height:65.1vw; */
    /* position: relative; */
    /* overflow:hidden; */
}

#map {
    width:100%;
    height:600px;
}
.after-map-container .map-marker {
    position: absolute;
    top:50%;
    left:50%;
    width:35px;
    height:35px;
    background:#fff;
    border-radius:35px;
    box-shadow: 0 0 15px 5px #00AE7C;
 }

 .after-map-container .map-marker:hover {
    background:var(--main-color);
    
     box-shadow: 0 0 15px 5px #00AE7C;
 }



.map-marker .tooltip {
    direction:rtl;
    position: absolute; 
    color:var(--main-color);
    width: 210px;
    padding:20px;
    z-index: 9999;
    font-size:12px;
    line-height:18px;
    letter-spacing:0.3px;
    font-family: 'Miriam Libre', sans-serif;    
    background: #FFFFFF;
    box-shadow: -5px 5px 6px 0 rgba(0,174,124,0.20);
    display: none; 
}
.map-marker .tooltip b {
    font-weight:700;
 }



/* creditz */

.after-map-credits {
    display: flex;
    justify-content:flex-start;
    flex-flow:row;
    flex-wrap: wrap;
    /* margin-top:40px; */

}

.after-map-credits__col {
    width:50%;
    box-sizing:border-box;
    padding-right:0px;
    padding-left:60px;
    direction:rtl;
    color:var(--main-color);
    padding-top:28px;
    font-size:13px;
    line-height:20px;
    letter-spacing:.6px;
    font-family: 'Miriam Libre', sans-serif;
    font-weight:400;    
}
.after-map-credits__col b {
    font-weight:700;    
}




.after-map-credits__col--full-line.after-map-credits__col--full-line {
    width:100%;
    /* background:lime; */
    padding-top:0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}


.after-map-credits__col a {
    text-decoration:none;
    color:var(--main-color);
    display:block;  
    margin-bottom: 20px;
}
.after-map-credits__col .img-arrow {
    margin-top:6px;
}


.after-map-credits--spacer 
{

    margin-top:30px;
}

@media (max-width: 800px) {
 
.after-images-container:hover .after-images-item , .after-images-container:hover .after-images-item:hover img, .after-images-container:hover .after-images-item:hover ,.after-images-container:hover .after-images-item img,.after-images-item img,  .after-images-container .after-images-item {
    -webkit-filter: none; 
    filter: none;
  opacity: 1;
  mix-blend-mode:normal;
  background:none;
}


    .after-section {
       padding: 0 0 60px 0;
    }
    .after-images-title {
        margin:0;
        border:none;
    }



.after-images-title {

    margin-bottom:0px;
}
.after-images-title_subtitle {
    font-size:18px;
    line-height:20px;
    letter-spacing:0.8px;

}

.after-images-title_main {
    font-size:32px;
    font-weight:500;
    line-height:40px;
    letter-spacing:1.6px;
}



    .after-map-credits .after-map-credits__col {
        width:100%;
        padding: 16px 16px 16px 0;
     }  
     .after-map-credits .after-map-credits__col.no-paddding {
        padding-top:0;
        padding-bottom:0;
        
     }  
     .after-images-container .after-images-item  { 
        width:100%   ;
        margin:0;
    } 

    .after-images-desktop-img {
        display: none;
    }


.after-images-item .tooltip {
display:block;
font-size: 13.5px;

color: #00AE7C;
letter-spacing: 0;
line-height: 20px;
    direction:rtl;
    position: static; 
    color:var(--main-color);
    width: 100%;
    padding:0px;
    font-family: 'Miriam Libre', sans-serif;    
    background: rgba(0,0,0,0);
    box-shadow: none;
}

.after-images-item .tooltip .tooltip-content{
    display:none;
    padding:0 20px 20px 20px;
     
    }

    .after-images-item .tooltip .tooltip-content img {
    display:block;
    width:100%;
    margin-bottom:20px;
    }


    .after-images-item .tooltip .title{
        font-size: 19px;
        color: #00AE7C;
        letter-spacing:normal;
        line-height: 21px;
        padding:25px 20px;
        border-top:1px solid var(--main-color);
        margin:0;
        }









}