@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500,700|Libre+Baskerville:400,400i,700|Miriam+Libre:400,700');

@font-face {
    font-family: 'fakir';
    src: url('fonts/2-regular-webfont.woff2') format('woff2'),
         url('fonts/2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Hadassah';
    font-weight:400;    
    src: url('fonts/HadassahFriedlaenderRegular.63c349a4b85685df370e58b039d668ad.eot');
    src: url('fonts/HadassahFriedlaenderRegular.63c349a4b85685df370e58b039d668ad.eot#iefix') format('embedded-opentype'), url('fonts/HadassahFriedlaenderRegular.7baf17c3ffa2ad28a80671e3fa938043.woff2') format('woff2'), url('fonts/HadassahFriedlaenderRegular.05f7f16356223548ccd57f9a6ecf97bf.woff') format('woff');
}

@font-face {
    font-family: 'Hadassah';
    font-weight:700;
    src: url('fonts/HadassahFriedlaenderBold.b3551827fd974696dadb49db7e6ff98d.eot');
    src: url('fonts/HadassahFriedlaenderBold.b3551827fd974696dadb49db7e6ff98d.eot#iefix') format('embedded-opentype'), url('fonts/HadassahFriedlaenderBold.e7ab7f9fff33a9209d9dc4434dbf6a9b.woff2') format('woff2'), url('fonts/HadassahFriedlaenderBold.0256683e34dcfaf68022ba99b8d7dd88.woff') format('woff');
}

/* 
@font-face {
    font-family: 'Nitti';
    src: url('fonts/c-black-webfont.woff2') format('woff2'),
         url('fonts/c-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */



@font-face {
    font-family: 'Nitti';
    src: url('fonts/f-bold-webfont.woff2') format('woff2'),
         url('fonts/f-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'zvi';
    src: url('fonts/hatzvig_bold-webfont.woff2') format('woff2'),
         url('fonts/hatzvig_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'zvi';
    src: url('fonts/hatzvig_extrabold-webfont.woff2') format('woff2'),
         url('fonts/hatzvig_extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




.font-fr {
    font-family: 'Frank Ruhl Libre', serif;
}

.font-hadassa {
    font-family: 'Hadassah', serif;
}

.font-fakir {}

.font-miriam {
    font-family: 'Miriam Libre', sans-serif;
}

.font-bask {
    font-family: 'Libre Baskerville', serif;
}

.font-niti {
    font-family: 'Nitti', serif;   
}





.logo-img {
max-width:100px;
max-height: 80px;
display:inline-block;
}

.after-map-credits__col--full-line .logo-img {
    margin:20px 20px;
}

.logo-img.force-big {
    max-width:150px;
  
    }


    a {color:#fff;}



.wrap-svt .floating-tickets  {
    bottom:20px;
    color: #fff;
    
    left:calc(100% - 130px - 100px);
}
.wrap-zira .floating-tickets  {
    bottom:20px;
    left:166px;
    color:#00AE7C;
}
.wrap-zira .floating-tickets--hidden, .wrap-svt .floating-tickets--hidden {
    /* display:none; */
    opacity:0;
    pointer-events:none;
}
.floating-tickets {
    opacity:1;    
    transition:all 0.3s ease;
    border-radius:100px;
    padding:0 14px;    
    display:inline-block;
    font-weight:700;
    position: fixed;
    font-family: 'Miriam Libre', sans-serif;
text-decoration:none;    
    font-size: 14px;
letter-spacing: 3px;
line-height: 29px;
}

@media (max-width: 800px) {

.floating-tickets {
    display:none;
}