canvas {
    width:100%;
    margin-bottom:30px;
    
}

.container-half.scroll-begin {
    width: 50%;
}
.float-intro img{
    display:none;
    transition:all 1s ease;
    }

    .float-intro.hideintro img{
      opacity:0;
        }


#px-render, #px-render-green {
    transition:opacity 3s ease, margin 1s ease;
    /* transition:margin 1s ease; */
}

.float-intro.white {
    /* mix-blend-mode: screen; */
    left: 0%;
    /* background:var(--main-color); */
}

.float-intro.green {
    /* mix-blend-mode: multiply; */
    left: 50%;
    background:#fff;
}


.float-intro.green.hideintro .pixi-render ,.float-intro.white.hideintro .pixi-render {

    opacity:0;
}



.float-intro.white.showintro {
    opacity:1;
    left:0px;
    width:100%;
}

.float-intro.white.hideintro {
    left: 0%;
    width:130px;
}
.float-intro.green.hideintro {
    left: calc(100% - 130px);
    width: 130px;
}
.float-intro.green.showintro {
    opacity:1;
    left:130px;
    width:calc(100% - 130px);
    /* left: 0px;
    width:100%; */
}
.float-intro.green.showintro #px-render-green {
    margin-right:130px;
}
.scroll-focus.wrap-zira .intro-main-title {
    margin-right:130px;
}
.scroll-focus.wrap-svt .intro-main-title {
    margin-left:130px;
}
.container-half.scroll-focus {
    width: calc(100% - 130px);
}

.container-half.scroll-blur {
    width: 130px;
}


.float-intro {
    transition:all 1s ease;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.intro-scrolldown .pixi-render{
    opacity:0 !important;
}

.intro-scrolldown img{
    opacity:0 !important;
}



.wrapper {
    display: flex;
    position:relative;
    z-index:1;
}

.center-col {
    max-width: 1180px;
    min-width: 700px;
    margin: auto auto;
}

.center-col-inner {
    margin: 0 64px;
}

/* canvas {
    width: 100%;
} */

.svt-intro,
.zira-intro {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-main-title {
    width:38%;
    max-width: 256px;
    margin-bottom:30px;
    margin-right:0px;
    margin-left:0px;
    transition:all 1s ease;
}

.container-half-content {
    transition: all 1s ease;
}

.scroll-blur .container-half-content {
    opacity: 0;
}





.container-half {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--main-color);
    transition: all 1s ease;
}

.container-half.container-negative {
    /* background:rgba(0,0,0,0); */
    color: var(--main-color-pos);
}

.container-half.container-negative.scroll-blur {
    background: var(--main-color);
}

.intro-main-title--mobile {
    display: none;
}

.hazira-container,
.svt-container {
    align-self: flex-end flex-end;
}


.focus-zira .wrap-svt {
    cursor: pointer;
}
.focus-svt .wrap-zira {
    cursor: pointer;
}

@media (max-width: 800px) {
    canvas {
        /* display: none; */
    }


.float-intro.white.hideintro {
    left: 0%;
    width:30px;
}
.float-intro.green.hideintro {
    left: calc(100% - 30px);
    width: 30px;
}
.float-intro.green.showintro {
    opacity:1;
    left:30px;
    width:calc(100% - 30px);
    /* left: 0px;
    width:100%; */
}
.float-intro.green.showintro #px-render-green {
    margin-right:30px;
}
.scroll-focus.wrap-zira .intro-main-title {
    margin-right:30px;
}
.scroll-focus.wrap-svt .intro-main-title {
    margin-left:30px;
}
.container-half.scroll-focus {
    width: calc(100% - 30px);
}

.container-half.scroll-blur {
    width: 30px;
}






    .float-intro img{
        max-width:100%;
        display: inline;
        }


    .intro-main-title--mobile {
        display: flex;
        text-align: center;
        font-size: 19px;
        line-height: 24px;
        align-self:flex-end;
        position: relative;
        top:-80px;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 700;
        /* align-self: flex-end; */
        /* margin-bottom: 35px; */
    }
    .intro-main-title {
        display: none;
    }
}