.menu--hide {
    opacity: 0;
}

menu {
    opacity: 1;
    transition: opacity 0.2s ease;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 36px;
    height: 36px;
    z-index: 999;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

menu .menucircle {
    transition: all 0.2s ease;
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 36px;
    background: var(--main-color);
    box-shadow: 0 0 9px 4px #FFFFFF;
}



menu:hover .menucircle {
    top: 30px;
    left: 30px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 0 0 9px 4px #FFFFFF;
}



menu .menu-content {
    transition: opacity 0.2s ease;
    opacity: 0;
    padding-top: 10px;
    visibility: hidden;
    display:block;
    width:150px;
}

menu:hover .menu-content {
    visibility: visible;
    opacity: 1;
}

menu .menu-content a {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    margin: 5px 0;
    color: #fff;
    letter-spacing: 0.3px;
    text-decoration: none;
    transition: all 0.2s ease;
    border-bottom: 2px solid rgba(255,255,255,0);
}

menu .menu-content a:hover {
    border-bottom: 2px solid #fff;
}



menu.menu--green .menucircle {
    background: #CBEFE5;
    box-shadow: 0 0 9px 4px var(--main-color);
}
menu.menu--green:hover .menucircle {
    background: var(--main-color);
    box-shadow: 0 0 9px 4px var(--main-color);
    }
menu.menu--green .menu-content a {
    color: var(--main-color);    
}

menu.menu--green .menu-content a:hover {
    border-bottom: 2px solid var(--main-color);
}


@media (max-width: 800px) {

    .body-start menu {
    opacity:0;
    }        
    menu {
        opacity:1;
        top:auto;
        /* left:calc(50% - 18px); */
        bottom:32px;
        transition:all 1s ease;
    }
    menu .menu-content {
        position:relative;
        top:-290px;
        padding-left: 12px;
        padding-right: 12px;
/* background-color:lime; */
    }

    .body-zira menu {
        left:calc(32px - 18px);
    }

    .body-svt menu {
        left:calc(100% - 32px - 18px);
    }

    .body-svt menu .menu-content{
       text-align:right;
       left: -135px;
    }


menu .menucircle {
    background: #CBEFE5;
    box-shadow: 0 0 9px 4px var(--main-color);
    
}



    menu.menu--green .menu-content a {
        color: #fff;    
    }
    
    menu.menu--green .menu-content a:hover {
        border-bottom: 2px solid #fff;
    }


    .svt-backdrop {
        position: fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        pointer-events:none;
        opacity:0;
        background-color:var(--main-color-50);
        z-index:900;
    }
    .svt-backdrop.svt-backdrop--visible {
       opacity:1;
       pointer-events:all;       
    }
    menu:hover .menu-content {
        visibility: hidden;
        opacity: 0;
    }
    menu.menu--open  .menu-content{
        visibility: visible;
        opacity:1;        
    }
    menu .menu-content{
        visibility: hidden;
        opacity:0;
    }
 

}